<!DOCTYPE html>
<html>
{{> head}}

<body>
    {{> header}}
    <main>
        <article>
            <ul>
                <li><a href="https://blog.fluent-forever.com/base-vocabulary-list/">The Most Awesome Word List You Have
                        Ever Seen</a></li>
                <li>Icons by Adrien Coquet from the Noun Project</li>
                <li>Images are from Google image search. For image rights and attribution, click through word to see
                    search results.</li>
                <li>Source code is open source. See <a href="https://github.com/eobrain/mergi">project on Github</a>
                </li>
            </ul>
        </article>
    </main>
    {{> footer}}
</body>

</html>