<footer>
        <a href="info.html">Helpi</a>
        -
        <a href="credit.html">Kredito</a>
        -
        <a href="privacy.html">Privateco</a>
        -
        <a href="deck.html">Superrigardo</a>
    </footer>
