<head>
    <!---
    // Copyright (c) 2019 Eamonn O'Brien-Strain All rights reserved. This
    // program and the accompanying materials are made available under the
    // terms of the Eclipse Public License v1.0 which accompanies this
    // distribution, and is available at
    // http://www.eclipse.org/legal/epl-v10.html
    ----->
    <link rel="preconnect" href="https://encrypted-tbn0.gstatic.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    {{#modulepreloads}}
      <link rel="modulepreload" href="{{.}}">
    {{/modulepreloads}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6341708-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-6341708-3');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="Immersive Image-Based Language Learning">
    <meta name="author" content="@eob">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="//fonts.googleapis.com/css?family=Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="css/normalize.css">
    {{#stylesheets}}
      <link rel="stylesheet" href="css/{{.}}.css">
    {{/stylesheets}}
    <!-- Icon attribution: Man by Adrien Coquet from the Noun Project -->
    <link rel="icon" type="image/png" href="/images/noun_Man_1912182_32x32.png">
    <link rel="apple-touch-icon" href="/images/noun_Man_1912182_180x180.png">
    {{#scripts}}
      <script src="{{src}}" {{{type}}}></script>
    {{/scripts}}
</head>