<!DOCTYPE html>
<html>
{{> head}}

<body>
    {{> header}}
    <main>
        <article>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aOPjr2JHLyM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>If the front has a word ...</p>
            <p>如果前面有一个字...</p>
            <p>Si el frente tiene una palabra ...</p>
            <p>यदि सामने वाले के पास कोई शब्द है ...</p>
            <p>إذا كان لدى الجبهة كلمة ...</p>
            <ol>
                <li><img src="/images/step1.webp" width="160" height="284"></li>
                <li>
                    <p>Look at word on front.</p>
                    <p>看前面的字.</p>
                    <p>Mira la palabra en el frente.</p>
                    <p>सामने शब्द को देखो.</p>
                    <p>انظر إلى الكلمة في المقدمة</p>
                </li>
                <li><img src="/images/step2.webp" width="160" height="284"></li>
                <li>
                    <p>Predict the images on the back. Rotate the card.</p>
                    <p>预测背面的图像。 旋转卡。</p>
                    <p>Predecir las imágenes en el reverso. Gire la tarjeta.</p>
                    <p>पीठ पर छवियों का पूर्वानुमान। कार्ड को घुमाएं।</p>
                    <p>توقع الصور على الظهر. تدوير البطاقة.</p>
                </li>
                <li><img src="/images/step3.webp" width="160" height="284"></li>
                <li>
                    <p>How good was your prediction? Touch the green, orange, or red head to give yourself a score.</p>
                    <p>您的预测效果如何？ 触摸绿色，橙色或红色的头给自己打分</p>
                    <p>¿Qué tan buena fue tu predicción? Toca la cabeza verde, naranja o roja para obtener una
                        puntuación</p>
                    <p>आपकी भविष्यवाणी कितनी अच्छी थी? अपने आप को स्कोर देने के लिए हरे, नारंगी या लाल सिर को स्पर्श
                        करें</p>
                    <p>كيف كان جيد التنبؤ الخاص بك؟ المس الرأس الأخضر أو البرتقالي أو الأحمر لمنحك النتيجة</p>
                </li>
            </ol>
            <p>If the front has images ...</p>
            <p>如果正面有图像...</p>
            <p>Si el frente tiene imágenes ...</p>
            <p>यदि सामने वाले के चित्र हैं ...</p>
            <p>إذا كان لدى الجبهة صور ...</p>
            <ol>
                <li><img src="/images/step4.webp" width="160" height="284"></li>
                <li>
                    <p>Look at images on front.</p>
                    <p>看前面的图像。</p>
                    <p>Mira las imágenes en el frente.</p>
                    <p>सामने की तस्वीरों को देखें।</p>
                    <p>انظر إلى الصور في المقدمة.</p>
                </li>
                <li><img src="/images/step2b.webp" width="160" height="284"></li>
                <li>
                    <p>Predict the word on the back and say it. Rotate the card.</p>
                    <p>预测背面的单词并说出来。 旋转卡。</p>
                    <p>Predecir la palabra en el reverso y decirlo. Gire la tarjeta.</p>
                    <p>शब्द को पीठ पर लादकर कहें। कार्ड को घुमाएं।</p>
                    <p>توقع الكلمة على الظهر وقلها. تدوير البطاقة.</p>
                </li>
                <li><img src="/images/step6.webp" width="160" height="284"></li>
                <li>
                    <p>How good was your prediction? Touch the green, orange, or red head to give yourself a score.</p>
                    <p>您的预测效果如何？ 触摸绿色，橙色或红色的头给自己打分</p>
                    <p>¿Qué tan buena fue tu predicción? Toca la cabeza verde, naranja o roja para obtener una
                        puntuación</p>
                    <p>आपकी भविष्यवाणी कितनी अच्छी थी? अपने आप को स्कोर देने के लिए हरे, नारंगी या लाल सिर को स्पर्श
                        करें</p>
                    <p>كيف كان جيد التنبؤ الخاص بك؟ المس الرأس الأخضر أو البرتقالي أو الأحمر لمنحك النتيجة</p>
                </li>
            </ol>
        </article>
    </main>
    {{> footer}}
</body>

</html>