li {
    margin: 2px;
    padding: 1px;
    width: 22px;
    height: 42px;
    background-color: #c2b490;/* Blondey */
    float: left;
    list-style: none;
    border-radius: 2px;
}

li.reversed {
    background-color: #acb7ae;
    /* Barely Green */
}

li div {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    float: left;
}

footer {
    clear: left;
}