section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1vmin;
    grid-row-gap: 1vmin;
    padding: 0;
}

section:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
section:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
section:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
section:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
section:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
section:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }


p {
    margin: 2vmin 0;
    padding: 0.5vmin;
    background-color: white;
}

iframe {
    width: 100%;
}

    
