body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("/images/water.jpg");
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    text-align: left;
}
header img {
    vertical-align: middle
}
header, footer {
    padding:1em;
}

footer {
    flex-shrink: 0;
}

.back {
    display: none;
}

nav span {
    font-size: 30px;
    padding: 1em;
}

nav {
    background-color: antiquewhite
}
section {
    background-color: bisque
}

#images img {
    height: 150px;
    width: auto;
    margin: 5px;
}