.column {
    display: flex;
    flex-direction: column;
}

.column > * {
    display: block;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.row > * {
    flex-grow: 1;
    padding: 0 5vw;
    width: 50vw;
}